ACTION=="add",\
SUBSYSTEMS=="usb",\
ENV{DISPLAY}=":0",\
ENV{DEVTYPE}=="usb_device",\
ATTRS{idVendor}=="***",\
ATTRS{idProduct}=="***",\
MODE="666",\
RUN+="/bin/bash ***"
